.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 800;
}

body {
  background-image:
    url('./assets/images/pattern-circle.svg'),
    url('./assets/images/pattern-circle.svg'),
    url('./assets/images/pattern-squiggly-line-bottom-desktop.svg'),
    url('./assets/images/pattern-squiggly-line-top.svg'),
    url('./assets/images/pattern-lines.svg'),
    url('./assets/images/background-desktop.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:
    auto,
    auto,
    auto,
    auto,
    auto,
    cover;
  background-position:
    1100px 350px,
    50px -100px,
    bottom left,
    top right,
    top center,
    center;
}

.logo {
  width: 150px;
  height: auto;
  margin: 20px;
}

h1 {
  color: white;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 800;
  font-size: 48px;
  max-width: 650px;
  text-align: center;
  margin-bottom: -5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}

form {
  width: 400px;
}

.description {
  color: hsl(252, 6%, 83%);
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
}

.file-info {
  color: hsl(252, 6%, 83%);
  margin-top: 5px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.icon-info {
  width: 10px;
  height: 10px;
  color: hsl(252, 6%, 83%);
}

#avatar {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  body {
    background-image:
      url('./assets/images/pattern-circle.svg'),
      url('./assets/images/pattern-circle.svg'),
      url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'),
      url('./assets/images/pattern-squiggly-line-top.svg'),
      url('./assets/images/pattern-lines.svg'),
      url('./assets/images/background-tablet.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:
      auto,
      auto,
      auto,
      auto,
      auto,
      cover;
    background-position:
      1100px 350px,
      50px -100px,
      bottom left,
      top right,
      top center,
      center;
  }
}

@media (max-width: 500px) {
  body {
    background-image:
      url('./assets/images/pattern-circle.svg'),
      url('./assets/images/pattern-circle.svg'),
      url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'),
      url('./assets/images/pattern-squiggly-line-top.svg'),
      url('./assets/images/pattern-lines.svg'),
      url('./assets/images/background-mobile.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:
      auto,
      auto,
      80%,
      auto,
      auto,
      cover;
    background-position:
      400px 600px,
      -50px -50px,
      bottom left,
      top right,
      top center,
      center;
  }

  h1 {
    font-size: 32px;
  }

  .description {
    max-width: 90%;
  }
}