@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 800;
}

/* Base Elements */
body {
  background-image:
    url('./assets/images/pattern-circle.svg'),
    url('./assets/images/pattern-circle.svg'),
    url('./assets/images/pattern-squiggly-line-bottom-desktop.svg'),
    url('./assets/images/pattern-squiggly-line-top.svg'),
    url('./assets/images/pattern-lines.svg'),
    url('./assets/images/background-desktop.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:
    auto,
    auto,
    auto,
    auto,
    auto,
    cover;
  background-position:
    1100px 350px,
    50px -100px,
    bottom left,
    top right,
    top center,
    center;
}

h1 {
  color: white;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 800;
  font-size: 48px;
  max-width: 650px;
  text-align: center;
  margin-bottom: -5px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}

input {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: hsl(255, 11%, 93%, 0.1);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid hsl(245, 15%, 58%);
}

form {
  width: 400px;
}

/* Layout Containers */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Typography & Info */
.description {
  color: hsl(252, 6%, 83%);
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
}

.input-info {
  color: hsl(252, 6%, 83%);
  margin-top: 5px;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.file-name {
  margin-top: 10px;
  color: hsl(252, 6%, 83%);
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}

/* Buttons & Interactions */
.submit {
  background-color: hsl(7, 88%, 67%);
  color: hsl(248, 70%, 10%);
  font-weight: 600;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0.5px solid hsl(245, 15%, 58%);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.submit:hover {
  background-color: hsl(7, 71%, 60%);
  color: white;
}

/* File Upload */
.file-upload {
  background-color: hsla(245, 19%, 35%, 0.1);
  color: white;
  border: 2px dashed hsl(245, 15%, 58%);
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}

.icon-upload {
  padding: 6px;
  border: 1px solid hsl(245, 15%, 58%);
  border-radius: 10px;
  background-color: hsl(245, 19%, 35%, 0.5);
  color: white;
  box-sizing: border-box;
  max-width: 72px;
  max-height: 72px;
}

/* Icons */
.icon-info {
  width: 10px;
  height: 10px;
  color: hsl(252, 6%, 83%);
}

/* Logo */
.logo {
  width: 150px;
  height: auto;
  margin: 20px;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive Media Queries */
@media (max-width: 750px) {
  body {
    background-image:
      url('./assets/images/pattern-circle.svg'),
      url('./assets/images/pattern-circle.svg'),
      url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'),
      url('./assets/images/pattern-squiggly-line-top.svg'),
      url('./assets/images/pattern-lines.svg'),
      url('./assets/images/background-tablet.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:
      auto,
      auto,
      auto,
      auto,
      auto,
      cover;
    background-position:
      1100px 350px,
      50px -100px,
      bottom left,
      top right,
      top center,
      center;
  }
}

@media (max-width: 500px) {
  body {
    background-image:
      url('./assets/images/pattern-circle.svg'),
      url('./assets/images/pattern-circle.svg'),
      url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg'),
      url('./assets/images/pattern-squiggly-line-top.svg'),
      url('./assets/images/pattern-lines.svg'),
      url('./assets/images/background-mobile.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:
      auto,
      auto,
      80%,
      auto,
      auto,
      cover;
    background-position:
      400px 600px,
      -50px -50px,
      bottom left,
      top right,
      top center,
      center;
  }

  h1 {
    font-size: 32px;
  }

  .description {
    max-width: 90%;
  }
}