#ticket-name {
  background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#ticket-email {
  color: hsl(7, 71%, 60%);
}