.header-name {
  background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.description-email {
  color: hsl(7, 71%, 60%);
}

.ticket {
  background-image: url('./assets/images/pattern-ticket.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 40px;
  max-width: 480px;
  min-width: 480px;
  font-family: 'Inconsolata', sans-serif;
  color: white;
}

.left {
  padding: 20px;
  flex: 1;
}

.top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-mark {
  padding-left: 8px;
  padding-bottom: 32px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.event {
  font-size: 32px;
  font-weight: 600;
  margin: 10px 0 5px 0;
  width: 180px;
}

.date {
  font-size: 14px;
  color: hsl(252, 6%, 83%);
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  margin-top: 16px;
  width: 64px;
  height: 64px;
  border-radius: 10px;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0px;
}

.github {
  font-size: 13px;
  color: hsl(252, 6%, 83%);
  margin-top: 0px;
}

.github-logo {
  width: 16px;
  height: 16px;
  vertical-align: -25%;
}

.right {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
}

.number {
  writing-mode: vertical-rl;
  font-size: 24px;
  font-weight: 600;
  color: hsl(245, 15%, 58%);
  margin-right: 0px;
}

@media (max-width: 500px) {
  .ticket {
    max-width: 360px;
    min-width: 360px;
  }

  .user {
    margin-top: -16px;
  }

  .number {
    margin-left: -16px;
  }
}